# Explorary Data Analysis 
В данном блокноте будет исследоваться датасет для обучения - [Bank Credit Risk Assessment Dataset](https://www.kaggle.com/datasets/kapturovalexander/bank-credit-risk-assessment).
В рамках данного проекта он находится в файле [data/test_data.csv](data/test_data.csv)

Explorary Data Analysis преследует следущие цели:
1) Изучение структуры и характеристик набора данных
2) Идентификация связий и корреляций между переменными
3) Подготовка данных для дальнейших этапов анализа

С этой целью, используя `pandas` и `matplotlib` мы будем исследовать предоставленный датасет и готовить его к дальнейшему использованию.

# Шаг 0. Подготовка окружения.

In [2]:
import pandas as pd

training_data = pd.read_csv('../data/train_data.csv')

# Шаг 1. Исследования табличного вида и состава данных.
Сперва нам необходимо понять что из себя представляет предоставленный датасет. Для этого посмотрим на его форму и содержание первых нескольких строк

In [3]:
training_data.shape

(18420, 18)

In [4]:
training_data.head()

,Задолженность,"Просрочка, дни",Первоначльный лимит,BIRTHDATE,SEX,EDU,INCOME,TERM,Рейтинг кредитной истории,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,NaN,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,NaN,МИНСК,Финансы и страхование,0.17,539353,NaN,1,NaN,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,NaN,0,NaN,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,NaN,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,NaN,Минск,Медицина и здравоохранение,0.63,425193,NaN,0,NaN,2